/* Skriver det på engelsk :)
		Sound only works when user pushes sound button because of chromes rules. The audio button only redirects
		back to frontpage for chrome to register as user action. Since this is localhosted file, on some IDE'S the link 
		for redirect may fail because of changing URLS. */

@media (min-width: 1080px) {
}

* {
	padding: 0px;
	margin: 0px;
}

.dp_slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.dp_slider video {
	position: absolute;
	object-fit: cover;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 0;
}

.dp_slider .dp_slider_content {
	color: oldlace;
	position: relative;
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
	z-index: 2;
}

.dp_slider .dp_slider_content h1 {
	position: relative;
	margin: auto;
	padding-bottom: 10px;
	font-size: 7em;
	text-transform: uppercase;
	mix-blend-mode: screen;
	color: transparent;

	-webkit-text-stroke: 1.9px red;
	-webkit-font-smoothing: antialiased;
}

/* possible to animate h1 "pool" */

.dp_slider_title_2 {
	display: inline-block;
	/* animation: animate_2 2s ease 8s backwards infinite;
	*/
	-webkit-font-smoothing: antialiased;
}

/* }
@keyframes animate_2 {
	0% {
		transform: scale(1);
		
	}
	50% {
		
		opacity: 0.9;
		color: red;
	}
	100% {
		transform: scale(1);
		opacity: 1;
		color: white;
} */

/* animation for h1 "dead" */

.dp_slider_title {
	display: inline-block;
	animation: animate 567ms ease 8s backwards 36;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 8px red;
}
@keyframes animate {
	0% {
		transform: scale(1);
		color: red;
	}
	50% {
		opacity: 0.9;

		text-decoration: solid;
	}
	100% {
		transform: scale(1);
		opacity: 1;
		color: white;
	}
}

p {
	text-shadow: -1px -1px 0 red;
	text-transform: uppercase;
	opacity: 0.2;
}

.dp_slider_content p {
	padding-bottom: 300px;
}

.slider_play_button {
	position: absolute;
	padding: 380px 150px 0px;
	width: 20px;
	margin: 10px;
	border: none;
	z-index: 2;
}

/* audio button animation */

#volume_2,
#vol_1 {
	animation: anime 1s ease backwards 8;
}
@keyframes anime {
	0% {
		transform: scale(0.9);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
		background-color: red;
	}
}

/*      play button placement and color */

.slider_play_button button {
	position: relative;
	width: 150px;
	height: 40px;
	margin: -65px;
	border-color: transparent;
	background-color: transparent;
	align-content: center;
	filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%)
		contrast(80%);
}

/*    Sound image in slider size */

.slider_play_button img {
	position: relative;
	width: 80px;
	height: 80px;
}

/* adds red color on hover for audio button */
.slider_play_button button:hover {
	filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
		brightness(104%) contrast(97%);
	cursor: pointer;
}

/* takes away outline border on:click */

.slider_play_button button:focus {
	outline: 0;
}

/* 		Audio controls button placement and size */

audio {
	width: 20px;
	height: 30px;
	padding-left: 3px;
	margin-top: 235px;
	position: absolute;
}

/* "deadpool logo" trying to take away outline border on:click  */

.slider_main_button:focus,
.main_button:focus {
	position: absolute;
	border: none;
	outline-style: none; /*  dette funker ikke?????? */
	outline: 0;
}

/* "deadpool logo" button white color onhover */

.slider_main_button img:hover {
	filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%)
		contrast(80%);
}

/* main "deadpool logo" button sizing  */

.slider_main_button img {
	position: absolute;
	height: 80px;
	width: 80px;
	z-index: 2;
}

/* Moving main button-logo */

.button_main {
	position: absolute;
	text-align: center;
	position: inherit;
	right: 53%;
}

/* main "deadpool logo" button hiding bgcolor and border */

.slider_main_button button {
	position: absolute;
	background-color: Transparent;
	border-style: hidden;
	cursor: pointer;
}
